@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:ital,wght@0,200..900;1,200..900&family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add this to your global styles or component CSS file */
.animate-marquee {
    animation: marquee 30s linear infinite; /* Adjust timing to slow down */
  }
  
  @keyframes marquee {
    0% { transform: translateX(0%); } /* Start from the right */
    100% { transform: translateX(-100%); } /* End at the left */
  }
.animate-marqueer {
    animation: marqueer 30s linear infinite; /* Adjust timing to slow down */
  }
  
  @keyframes marqueer {
    0% { transform: translateX(-100%); } /* Start from the right */
    100% { transform: translateX(0%); } /* End at the left */
  }
  
  .fontBody{
    font-family: "Hanken Grotesk", sans-serif;
  }

  .accordion input:checked + label + .accordion-content {
    display: block;
  }
  
  .accordion-content {
    display: none;
  }
  
