@import url('https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Libre+Franklin:ital,wght@0,100..900;1,100..900&family=Pixelify+Sans:wght@400..700&family=Poly:ital@0;1&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add this to your global styles or component CSS file */
.animate-marquee {
    animation: marquee 30s linear infinite; /* Adjust timing to slow down */
  }
  
  @keyframes marquee {
    0% { transform: translateX(0%); } /* Start from the right */
    100% { transform: translateX(-100%); } /* End at the left */
  }
  
  .fontBody{
    font-family: "DM Mono", monospace;
  }

  .hero{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif,
  }

  